.terms-content {
  padding: 20px;
  max-height: 70vh;
  overflow-y: auto;
}

.terms-content h2 {
  color: #4B7163;
  margin-bottom: 24px;
  text-align: center;
}

.terms-content h3 {
  color: #4B7163;
  margin: 20px 0 10px;
}

.terms-content section {
  margin-bottom: 24px;
}

.terms-content ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #666;
}

.terms-content li {
  margin: 8px 0;
}

.terms-content p {
  color: #666;
  line-height: 1.5;
}

.terms-content strong {
  color: #666;
}

.terms-content b {
  color: #666;
} 